<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>410049529750-iu0ove0gk13pvi1mlhmnt2brnokv8cik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.410049529750-iu0ove0gk13pvi1mlhmnt2brnokv8cik</string>
	<key>API_KEY</key>
	<string>AIzaSyCq8pAToochLSKpuilwQ1EoPvv_LFXspag</string>
	<key>GCM_SENDER_ID</key>
	<string>410049529750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cpd.br.ufrgsmobile</string>
	<key>PROJECT_ID</key>
	<string>ufrgs-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>ufrgs-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:410049529750:ios:01b6ef8ee7bf9ece</string>
	<key>DATABASE_URL</key>
	<string>https://ufrgs-mobile.firebaseio.com</string>
</dict>
</plist>